@(apartment: Apartment)(userId: Integer)
@main{
	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<ul>
					<li class="home"> <a title="Početna" href="@routes.Application.index()">Početna</a><span>&mdash;›</span></li>
					<li class="home"> <a title="Korisnički Panel" href="@routes.Login.renderPanelForAppropriateUser(userId)">Korisnički Panel</a><span>&mdash;›</span></li>
					<li class="home"> <a title="Igraonice" href="@routes.AppUsers.userApartmentsRender(userId)">Igraonice</a><span>&mdash;›</span></li>
					<li class="home"> <a title="Paketi" href="@routes.Paketi.listOfPackages(apartment.id)">Paketi</a><span>&mdash;›</span></li>
					<li class="category13"><strong>Dodaj Paket</strong></li>
				</ul>
			</div>
		</div>
	</div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="cbx-heading2 text-center">
                    <h2 class="uppercase wow fadeInUp">DODAJ NOVI PAKET</h2>
                    <hr noshade size="" width="" color="">
                    <p class=" wow flipInY">Molimo unesite sve informacije kako bi paket bio uspješno kreiran</p>
                </div>
            </div>
        </div>

        <form method="POST" class="form-horizontal lz-contact-form cbx-contactform" role="form" action="@routes.Paketi.createPackage(apartment.id)" >
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-1">
                        <input type="text" name="name" class="form-control cbxname lz-git-form-control placeholder-style" id="packageName" placeholder="Naziv Paketa" required>
                        <label id="cbxname-error" class="error valid" for="cbxname"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-1">
                        <input type="number" name="cost" class="form-control cbxname lz-git-form-control placeholder-style" id="packageCost" placeholder="Cijena" min="1" required>
                        <label id="cbxname-error" class="error valid" for="cbxname"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-1">
                        <textarea class="text-area" name="description" rows="12" style="resize: vertical" id="packageDescription" placeholder="Opis Paketa" maxlength="300" required></textarea>
                        <label id="cbxname-error" class="error valid" for="cbxname"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-1">
                        <input type="number" name="duration" class="form-control cbxname lz-git-form-control placeholder-style" id="packageDuration" placeholder="Trajanje (sati)" min="1" max="10" required>
                        <label id="cbxname-error" class="error valid" for="cbxname"></label>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-md-offset-3 xs-text-center cbx-submit-area" id="login-button-padding">
                <button type="submit" name="save" class="btn btn-block lz-git-submit-btn cbx-submit" id="apcreatebutton">Dodaj</button>
            </div>
        </form>
    </div>

}