@main{
    <section>
        <div class="container">
            <div class="row">
                <div class=" picturemain">
                </div>
                <div class="col-md-12">
                    <div class="cbx-heading2 text-center">
                        <h2>Zelite ostvariti saradnju sa nama?</h2>
                    </div>
                </div>

                <div class="col-md-12 cooperation-text">
                    <p>
                        Agencija Stan Na Dan  apartmani Beograd Vam predlaze mogucnost profesionalne saradnje po najvisim principima savremenog poslovanja u oblasti pruzanja smestajnih kapaciteta u Beogradu. Kao novom clanu naseg tima pruzicemo Vam punu podrsku i pomoc prilikom nase i Vase saradnje na obostranu korist.
                    </p>
                    <p>
                        Ukoliko posedujete stan, nezavisno od kvadrature, kucu ili apartman, koji ste spremni da ukljucite u nas marketinski sistem izdavanja smestajnih kapaciteta za kratkorocni period, procitajte dalje redove o uslovima i nacinu saradnje sa Stan Na Dan apartmani Beograd, a u slucaju da imate dodatnih pitanja ili sugestija u cilju poboljsanja nasih usluga, molimo Vas da nas kontaktirate putem telefona, e-maila, pa cemo u licnom kontaktu razmotriti sva pitanja i u zajednickom razgovoru doneti najpovoljnije resenje kako za Vas i nas kao tim, tako i za korisnike nasih apartmana.
                    </p>
                    <p>
                        Za sam pocetak, kako bi uvrstili Vas stan u nasu ponudu potrebno je da isti zadovolji sledece osnovne uslove:
                    </p>
                        <li>Neophodno je da se stan nalazi na lokaciji uskog gradskog jezgra, primer mozete videti na stranici ponude na nasem sajtu.</li>
                        <li>Stan mora biti kompletno i funkcionalno namesten, ukoliko je smestaj u privatnoj kuci mora imati potpuno zaseban ulaz. Prednost svakako predstavlja kvalitet namestaja kao i estetski momenat kompletnog smestaja.</li>
                        <li>Potrebno je da smestaj poseduje neku od brzih elektronskih veza: Kablovski internet, Wireless, ADSL, kao i kablovsku televiziju.</li>
                        <li>Veliku prednost predstavlja posedovanje garaznog mesta, parking mesta za korisnike koji dolaze svojim automobilom.</li>
                        <li>Opremljenost smestaja sa klima uredjajem, tehnickim uredjajima u kuhinji i kupatilu, centralno grejanje takodje predstavlja prednost u odnosu na apartmane koji to ne poseduju, sto je u interesu vlasnika stana, jer ce u tom slucaju popunjenost apartmana biti veca.</li>
                        <li>Ukoliko se smestaj nalazi na visim spratovima, neophodno je da u zgradi postoji bar jedan lift.</li>

                    <p>
                    Ovo bi bili neki osnovni zahtevi za smestaj pogodan za saradnju sa: Agencija Stan Na dan  apartmani Beograd.

                    Ukoliko ste zainteresovani za saradnju sa nama, molimo da posaljete kratak opis kao i fotografije apartmana/stana/kuce na mail saradnjastannadan.com, a nase ljubazno osoblje ce Vas kontaktirati radi daljih razgovora u realizaciji saradnje. Veliki procenat popunjenosti nasih apartmana, posete nasoj web stranici i zainteresovanost kao i zadovoljstvo nasih klijenata nam daje za pravo da ne budemo skromni i da vas pozovemo u nas tim koji svakodnevno raste, a Stan Na Dan  apartmani Beograd je agencija sa sve vecim znacajem na nasim prostorima kao i u inostranstvu.
                    </p>
                    <p>
                    Kontaktirajte nas iskljucivo putem e-mail adrese saradnjastannadan.com

                    Hvala Vam sto ste nas izabrali

                    Iskreno Vas, StanNaDan
                    </p>
                </div>
            </div>
        </div>
    </section>
}