@import helpers.UserAccessLevel
@(userId: Integer)
@main{
	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<ul>
					<li class="home"> <a title="Početna" href="@routes.Application.index()">Početna</a><span>&mdash;›</span></li>
					<li class="home"> <a title="Admin Panel" href="@routes.Login.renderPanelForAppropriateUser(userId)">Admin Panel</a><span>&mdash;›</span></li>
					<li class="home"> <a title="Korisnici" href="@routes.AppUsers.listOfUsers()">Korisnici</a><span>&mdash;›</span></li>
					<li class="category13"><strong>Kreiraj korisnika</strong></li>
				</ul>
			</div>
		</div>
	</div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="cbx-heading2 text-center">
                        <h2 class="uppercase wow fadeInUp">KREIRAJ KORISNIKA</h2>
                        <hr noshade size="" width="" color="">
                        <p class=" wow flipInY">Molimo unesite sve informacije kako bi korisnik bio uspješno kreiran</p>
                    </div>
                </div>
            </div><!-- //ROW Our Team Header -->

            <div class="row">
                @if(flash.containsKey("error")) {
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Message:</span>
                        @flash.get("error")
                    </div>
                }
                <form method="POST" class="form-horizontal lz-contact-form cbx-contactform" role="form" action="@routes.AppUsers.createUser()" >
                    <div class="col-md-6 col-md-offset-3 margin-top100">
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-1">
                                <input type="email" name="email" class="form-control cbxname lz-git-form-control placeholder-style" id="email" placeholder="Email korisnika" required>
                                <label id="cbxname-error" class="error valid" for="cbxname"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-1">
                                <input type="text" name="password" class="form-control cbxname lz-git-form-control placeholder-style" id="password" placeholder="Password korisnika" required>
                                <label id="cbxname-error" class="error valid" for="cbxname"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-1">
                                <select name="userType"  class="form-control cbxname lz-git-form-control placeholder-style" id="ddlocation">
                                    <option selected class="placeholder-style"> Odaberi tip korisnika</option>
                                    <option value="@UserAccessLevel.IGRAONICA">Igraonice</option>
                                    <option value="@UserAccessLevel.POKLONI">Pokloni</option>
                                    <option value="@UserAccessLevel.TORTE">Torte</option>
                                    <option value="@UserAccessLevel.ANIMATORI">Animatori</option>

                                </select>
                                <label id="cbxname-error" class="error valid" for="cbxname"></label>
                            </div>
                        </div>


                    </div>


                    <div class="col-md-6 col-md-offset-3 xs-text-center cbx-submit-area" id="login-button-padding">
                        <button type="submit" name="save" class="btn btn-block lz-git-submit-btn cbx-submit" id="apcreatebutton">Dodaj</button>
                    </div>
                </form>
            </div>
        </div>

    </section>



}